@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;

}

body {
    background-image: radial-gradient(circle, #02735E 80%, #034159);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(0, 0, 0);
    width: 1000px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #034159;
    text-align: center;
    text-shadow: 1px 1px 2px #02243179;
}

h2 {
    color: #025951;
}

p {
    text-align: justify;
}